<div class="panel panel-default">
  <div class="panel-body">
    <!--##################################Form for the Planned Event#################################################-->
    <form class="card p-3" [formGroup]="plannedEventForm" (ngSubmit)="onSubmit()" *ngIf="editEvent?.plannedEvent">
      <h2 class="card-title text-success">{{editEvent?.plannedEvent?.name}}</h2>
      <h5 class="card-subtitle m-0 fw-light text-dark fst-italic">{{editEvent?.assignment}}</h5>
      <hr class="dropdown-divider m-0 bg-success rounded-pill" style="padding: .1rem">
      <h5 class="card-subtitle mt-4 mb-4 fw-light">When: {{editEvent?.time}}</h5>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="plannedEvent">Update Event Name:</label>
          <input
            type="text"
            id="plannedEvent"
            name="plannedEvent"
            class="form-control"
            size="120"
            max="120"
            #plannedEvent
            formControlName="name">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imgUrl">Image URL:</label>
          <input
            type="text"
            id="imgUrl"
            name="imgUrl"
            class="form-control invalid"
            size="150"
            max="255"
            formControlName="imgUrl">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="eventUrl">Event URL:</label>
          <input
            type="text"
            id="eventUrl"
            name="eventUrl"
            class="form-control"
            size="150"
            formControlName="url">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="eventSubject">Subject:</label>
          <input
            type="text"
            id="eventSubject"
            name="eventSubject"
            class="form-control"
            size="150"
            max="255"
            formControlName="subject">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="eventNotes">Notes:</label>
          <input
            type="text"
            id="eventNotes"
            name="eventNotes"
            class="form-control"
            size="150"
            max="255"
            formControlName="notes">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="eventLocation">Address:</label>
          <input
            type="text"
            id="eventLocation"
            name="eventLocation"
            class="form-control"
            size="150"
            max="255"
            formControlName="location">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar mt-2">
          <button class="btn btn-success me-2" type="submit" [disabled]="!plannedEventForm.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>

<!--#########################################Form for the Meal event#################################################-->
    <form class="card p-3" [formGroup]="mealForm" (ngSubmit)="onSubmit()" *ngIf="editEvent?.meal">
      <h2 class="card-title text-success">{{editEvent?.meal?.name}}</h2>
      <h5 class="card-subtitle m-0 fw-light text-dark fst-italic">{{editEvent?.assignment}}</h5>
      <hr class="dropdown-divider m-0 bg-success rounded-pill" style="padding: .1rem">
      <h5 class="card-subtitle mt-4 mb-4 fw-light">When: {{editEvent?.time}}</h5>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="meal">Meal Name:</label>
          <input
            type="text"
            id="meal"
            name="meal"
            class="form-control required"
            size="120"
            max="120"
            formControlName="name"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="mealRecipe">Recipe:</label>
          <input
            type="text"
            id="mealRecipe"
            name="mealRecipe"
            class="form-control invalid"
            formControlName="mealRecipe"
            size="150"
            max="255">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="mealInstructions">Instructions:</label>
          <input
            type="text"
            id="mealInstructions"
            name="mealInstructions"
            class="form-control"
            formControlName="mealInstructions"
            size="150"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="mealUrl">Url:</label>
          <input
            type="text"
            id="mealUrl"
            name="mealUrl"
            class="form-control"
            formControlName="mealUrl"
            size="150"
            max="255"
          >
        </div>
          </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar mt-2">
          <button class="btn btn-success me-2" type="submit">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
