<div class="row">
  <div *ngFor="let schedule of scheduleList" class="clearfix col-md-4 g-1">
    <div class="card shadow rounded">
      <!--      Large Column Titles: Wed, Thurs, Fri-->
      <div class="card-body clearfix bg-light bg-gradient">
        <hr class="dropdown-divider m-0 bg-success" style="padding: .1rem">
        <h2 class="card-header text-success px-0">{{schedule.name}}</h2>
        <hr class="dropdown-divider m-0 bg-success" style="padding: .1rem">

        <!--        The group of scheduled events for the column-->
        <div class="">
          <!--          Dropdown Toggle-->
          <hfr-schedule-item *ngFor="let sEvent of schedule.items"
                             [nextScheduleEvent]="sEvent"
                             class="list-group list-group-flush"></hfr-schedule-item>
        </div>
      </div>
    </div>
  </div>
</div>
